[Unit]
Description=Grafana
After=network.target

[Service]
ExecStart=/usr/local/bin --config.file=/etc/grafana/grafana.ini
Restart=always
User=grafana
Group=grafana

[Install]
WantedBy=multi-user.target
