[Unit]
Description=Grafana
After=network.target

[Service]
User=grafana
Group=grafana
ExecStart=/usr/bin/grafana-server --config=/etc/grafana/grafana.ini --homepath=/usr/share/grafana
Restart=always

[Install]
WantedBy=multi-user.target



